################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitHub Authentication with ASP.NET Core by James Chambers/GitHub Authorization/GitHub Authorization.xproj.user
/GitHub Authentication with ASP.NET Core by James Chambers/.vs/GitHub Authorization/v14/.suo
