$primaryColor: #eeffcc;
$fontDiff: 14px/3;

$firstValue: 24px !default;

$firstValue: 62.5%;

body {
    background: $primaryColor;
    font-size: $fontDiff;    
}

.cool-div {
    background: darken($primaryColor, 35%);
}

.another-cool-div {
    background: desaturate($primaryColor, 30%)
}

.super2 {
    font-size: 24px;
}

p {
     font-size: $firstValue;
}

