$primaryColor: #eeffcc;
$fontDiff: 14px/3;

$firstValue: 24px !default;

$firstValue: 62.5%;

body {
    background: $primaryColor;
    font-size: $fontDiff;    
}

p {
    color: $primaryColor;
    font-size: $firstValue;
}
